
<footer th:fragment="footer" class="footer">
    <div class="footer-content">
        <p>Total Solft Inc.</p>
        <div class="social-media">
            <a href="https://www.instagram.com/" ><i class='bx bxl-instagram'></i></a>
            <a href="https://www.facebook.com/" ><i class='bx bxl-facebook'></i></a>
            <a href="https://www.tiktok.com/es/" ><i class='bx bxl-tiktok'></i></a>

        </div>
    </div>
    <p class="copyright">
        &copy; 2019 Tsf , Inc.
    </p>
</footer>
