<!--&lt;!&ndash; ConfirmarCita/confirmada.html &ndash;&gt;-->
<!--<!DOCTYPE html>-->
<!--<html lang="es">-->
<!--<head th:replace="~{fragments/head :: head}"></head>-->
<!--<meta charset="UTF-8">-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--<title>Información del Médico</title>-->
<!--</head>-->
<!--<body>-->
<!--<header th:replace="~{fragments/header :: header}"></header>-->
<!--<div class="containerConfirmarCita">-->
<!--  <h1>Cita Reservada Exitosamente!!</h1>-->
<!--  <a th:href="'/BuscarCita'"-->
<!--   class="btn btn-return">-->
<!--  <button>Regresar</button>-->
<!--  </a>-->
<!--</div>-->
<!--<footer th:replace="~{fragments/footer::footer}"></footer>-->
<!--</body>-->
<!--</html>-->